################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/
/DailyTaskListApp.IntegrationTesting/bin/
/DailyTaskListApp.Model/bin/
/DailyTaskListApp.UnitTesting/bin/
/DailyTaskListApp.IntegrationTesting/obj/Debug/
/DailyTaskListApp.Model/obj/Debug/
/DailyTaskListApp.UnitTesting/obj/Debug/
/DailyTaskListApp.ConsoleApp/obj
/DailyTaskListApp.ConsoleApp/bin/Debug/netcoreapp3.1
